# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of go build
dead-link-checker

# Vendor directory
/vendor/

# IDE/editor files
.idea/
.idea
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db